@import "material-components-web/material-components-web";

body {
  display: flex;
  height: 100vh;
  margin: 0vh;
}

.custom-textarea {
  min-height: 100px !important;
  max-height: 1000px !important;
  min-width: 400px !important;
  max-width: 1000px !important;
}

.custom-counter {
  margin-right: 8px !important;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
  overflow: auto;
  height: 100%;
}

.sub-content {
  padding: 20px 10% 0px 10%;
}

.result-area {
  max-width: 100%;
  font-size: 1em;
}

.result-name {
  color: #333;
}

.result-image {
  max-width: 50%;
  padding: 0 25%;
  margin: 0 auto;
}

.result-description {
  color: #000;
}

.app-bar {
  position: absolute;
}

.mdc-top-app-bar {
  z-index: 7;
}

#signined {
  color: white;
}